html, body{
  min-height: 100vh;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body{
    display: block;
    margin: 0;
    background: linear-gradient(#1b363b, #225661, #0d333b);
    background-size: 100%;
    background-repeat: repeat;
    min-height: 100vh;
}

.navbar{
    background: linear-gradient(#1a525e, #214247, #132f33);
    width: 100%;
    left: 0;
    right: 0;

}
.navbar-brand{
 position: relative;   
 font-size: 1.5em; 
 font-weight: 600; 
 color:#f9f2f2;
 margin-left: calc(75px + -1rem);

}
.navbar-nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem;               
    margin: 0;
    padding: 0;
}
.nav-link{
   font-size: 1rem; 
   font-weight: 400;
   text-transform: uppercase;
   padding-right: 2rem;
   color:#f9f2f2;
}
.nav-link:hover{
    border-bottom: 1px solid #f9f2f2;
    font-weight: 200;
}
li.hidden{
    display: none;
}

/*reception*/
#reception{
    position: relative;
    top: 2vw;
    margin-left: calc(75px + -1rem);
    color: #f9f2f2;
}

h1{
    font-size: 50px;
}

h2{
    font-style:italic;
    color:aquamarine;
}

@keyframes waving-hand {

0% {transform: rotate(0deg);
}
10% {transform: rotate(8deg);
}
20% {transform: rotate(-4deg);
}
30% {transform: rotate(14deg);
}
40% {transform: rotate(-4.0deg);
}
50% {transform: rotate(8deg);
}
60% {transform: rotate(14deg);
}
100% {transform: rotate(0deg);
}

}

/*salute*/
#salute{
    position: absolute;
    top: 40vh;
    right: 10rem;
}
   
/*side bars*/
#side-bar{
    width: 75px;
    min-height: 100vh;
    background: linear-gradient(#21363a, #1c4c53, #326e77);
    position: fixed;
    left: 0;
    top:0;
}

/* icons styling */
.icon-wrapper{
   padding-left: 5px; 
}
i{
font-size: 2rem;
margin-top: 2rem;
}

#facebook{
    color: rgb(67, 67, 204);
    background-color: #f9f2f2;
    border-radius: 15%;
}
#tiktok,
#twitter {
    color: #f9f2f2;
    background-color: black;
    border-radius: 15%;
}
#ig{
    color: #f9f2f2;
    background: linear-gradient(rgb(122, 21, 21), #7c2222, #fa053e, #be123a) ;
    border-radius: 15%;
}
#linkedin{
    color:#f9f2f2;
    background-color: blue;
    border-radius: 15%;
}
#links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;    
}
.icon-text i{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #f9f2f2;            
  font-size: 1rem;  
}
.icon-text i {
  font-size: 1.5rem; 
}
.icon-text span {
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
  cursor: pointer;
}
#githubs { color: black; }
#linkedins { color: #0A66C2; }

.prof-link{
height: 7rem;
margin-top: 0;
}

/*line*/
hr{
font-weight: 100px;
height: 25px;
}
.text-success{
    margin-top: 25%;
    padding-left: 5em;
}

/* section/.skill styling */
.skills {
    display: flex;
    justify-content: center;
    height: 5rem;
    margin-top: 2em;
}

.skills button {
    display: block;
    margin: 0 auto; 
    padding: 0.75rem 2.5rem;
    font-size: 1.1rem;
    border-radius: 30px;
    border: none;
    background: rgba(63, 110, 110, 0.767);
    color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.skills button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

.skills {
    margin-bottom: 1.5rem; 
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5rem;
}
section{
    border-radius: 12px;
    margin: auto;
    width:100%;
    max-width: 80em;
    background: linear-gradient(30deg, #ffffff2c, #2d8496);
    height: 25em;
    margin-top: 10rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* image styling */
.image-div{
    position: relative;
    background-color: rgba(19, 47, 51, 0.7);
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10rem;
    margin-top: 9.5rem;
    gap: 5rem;
}

.profile-photo {
    height: 12rem;
    width: 12rem;
    flex-shrink: 0;
}

.specialize-in{
    font-size: 1.5rem;
    font-family: "Akaya Telivigala", system-ui;
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: rgb(180, 128, 230);

}

p{
    color: #fff;
    font-size: small;
}

/* hobby styling */
.hobby-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 3rem;
    width: 11em;
    height: 10em;
    padding-top: 5px;
    background-image: linear-gradient(40deg,#8570704b, #3b9aada8), url(../images/guitar.png), url(../images/book.png), url(../images/mic.png);
    background-size: cover, 4em, 3em;
    background-position: center, left center, right center;
    background-repeat: no-repeat;
}

.hobby-div p span{
 display: block;
 color: #fff;
 font-size: small;
 line-height: 2em;
 text-align: left;
 opacity: 0;
 transform: translateX(-10px);

 transition: transform 0.6s ease, opacity 0.6s ease;;
}
.hobby-div:hover p span:nth-child(1) {
    opacity: 1;
    transform: translateX(18px);
    transition-delay: 0s;
}
.hobby-div:hover p span:nth-child(2) {
    opacity: 1;
    transform: translateX(18px);
    transition-delay: 0.1s;
}
.hobby-div:hover p span:nth-child(3) {
    opacity: 1;
    transform: translateX(18px);
    transition-delay: 0.2s;
}

.projectDiv h1{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff
}

.projectDiv{
    display: flex;
    width: 85%;
    height: 20rem;
    margin: 2em auto;
    background: linear-gradient(55deg, #5451753f, #326e7771, #21363a);
    border-radius: 10px;
    
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 3rem;
    width: 11em;
    height: 10em;
    margin: 5rem 5rem;
    background-image: linear-gradient(40deg,#8570704b, #3b9aada8), url(https://images.emojiterra.com/google/noto-emoji/unicode-15.1/color/512px/1f528.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
 .projects:hover{
    width: 12em;
    height: 11em;
 }
img{
  width: 60px;
  height: auto;
  gap: 20px;
  animation: swing 4s infinite;
}

@keyframes swing {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(2deg); }
    50%  { transform: rotate(0deg); }
    75%  { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media (max-width: 480px){
    html,  body{
        width: 100%;
        overflow-x: hidden;      
    }
  #salute{
    position: relative;
    top: 2vh;
    margin-left: calc(15.2rem + -1rem) !important;
  }
    /* Stop absolute offsets */
    .container-sm h1{
        font-size: 20px;
        position: static;
}
    .container-sm h2{
        font-size: 15px;
}
    .container-fluid-sm h2{
        font-size: 18px;
        position: relative;
        top: -10em;
        left: 2.1%;
    }

.front-end, .back-end{
/* remove huge left offsets */
    margin-left: 0;  
    margin-bottom: 1rem;
}
.front-end p,
.back-end p {
    margin: 0;
}
  
    #col-icons{
        display: flex;
        align-items: center;
        gap: 1rem
    }
  section {
         width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

 .skill-icons img {
        width: 40px;  
        height: auto;
        margin-bottom: 15px;
    }
   .skill-icons {
    gap: 3rem;
}
    .projectDiv {
        width: 100%;
    }
.image-div {
        flex-direction: column;      
        align-items: center;
        padding: 1rem;
        height: 50em;
        gap: 2rem; 
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 2rem auto;
        border-radius: 8px;
    }
.image-div img{
        height: 7em;
        width: 7em;
} 

    .image-div > * {
        text-align: center;
        flex-shrink: 0;
    }
   
   .navbar-brand{
    font-size: 1em; 
    font-weight: 400;
    padding-left: 0.7em;
   } 
.navbar-nav {
        padding-left: 0 !important;   
        margin: 0 auto;              
        text-align: center;           
        width: 100%;
        gap: 0px;
    }

    .nav-item {
        margin: 0.5rem 0;       
    }
    #side-bar {
        position: relative;   
        width: 100%;
        min-height: auto;
        height: auto;
        background: transparent;
        flex-direction: row;  
        justify-content: center;
        padding: 1rem 0;
        top: auto;
        left: auto;
    }
    .icon-wrapper{
        display: flex;
        gap: 2rem;
        justify-content: center;
        width: 100%;
}
}
@media (max-width: 1023px){
    .skill-icons {
    gap: 2.5rem;
    }
    .navbar-nav{
        padding-left: 15em;
    }

}
